<!DOCTYPE html>
<html lang="en">

    <link href="stylesheet.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    <head>
        <meta charset="UTF-8">
        <title>Login Spring</title>
    </head>

    <body class="text-bg-dark " style="font-family: 'Open Sans' ,sans-serif">

        <div class="m-sm-3">
        <div class="container-sm text-bg-dark border border-2 border-secondary rounded-pill">
            <div class="text-center">
                <header style="margin-top: 1%;margin-bottom: 1%">
                    <h2 class="text-white">User Dashboard</h2>
                    <small class="h6 text-light text-white-50">Login App using SpringBoot and PostgreSQL</small>
                </header>
            </div>
        </div>

        <br style="margin-top: 1em">
    </div>

        <main class="form-floating">
            <div class="container-sm border border-2 row-cols-2 rounded rounded-3">
                <br style="margin-top: 1px">
                <div class="container-md">
                    <div class="row-cols-2">
                        <p class="container"> Username
                        <section class="container border border-2 rounded text-center"> Your Username Here</section>
                    </div>

                    <br style="margin-bottom: 1px">

                    <div class="row-cols-2">
                        <p class="container"> E-mail
                        <section class="container border border-2 rounded text-center"> Your E-mail Here</section>
                    </div>

                    <br style="margin-bottom: 1px">

                        <div class="row-cols-2">
                            <p class="container"> Password
                            <section class="container border border-2 rounded text-center"> Your Password Here</section>
                        </div>

                    <br style="margin-bottom: 1px">
                </div>








            </div>
        </main>

    </body>
</html>